{% extends 'layout.html' %}

{% block content %}
<div style="margin-bottom: 80px;">
   <div style="margin-top: 20px; margin-left: 30px; background-color: red; width: 70px; padding: 5px">
      <a href="/users/" style="text-decoration: none; color: white;">Go back</a>
   </div>
   <h2 style="text-align: center; padding-top: 15px;"> {{usermodel.user_name}} </h2>
   <div style="margin-left: 25%; margin-right: 18%; display: inline-block; width: 250px; height: 375px">
      <img src="{{usermodel.image.url}}" alt="Image Not Found" width=100% height=100%>
   </div>
   <div style="display: inline-block;
               position: absolute;
               width: 300px;
               background-color: white;
               padding:10px;">
      <h3>User Details</h3>
      <ul style="list-style-type:none;">
         <li>Username: {{usermodel.user_name}}</li>
         <li>First Name: {{usermodel.first_name}}</li>
         <li>Last Name: {{usermodel.last_name}}</li>
         <li>Join Date: {{usermodel.join_date}}</li>
         <li>Average Movie Rating: {{usermodel.average_rating}}</li>
      </ul>
   </div>
   <div>
      <br><br>
      {% for review in reviews %}
         <div style="background-color: rgb(60, 189, 209); padding:50px; color: white; border-radius:50px; font-size: 18px;">
            <li><h4>{{review.critic}}:</h4></li>
            <li style="margin-left: 40px;">{{review.review}}</li>
            <br>
         </div>
         <br>
      {% endfor %}
   </div>
</div>
{% endblock %}
