{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div style="margin-top: 30px; margin-left: 0px; background-color: red; width: 200px; padding: 5px">
    <a href="../" style="text-decoration: none; color: white;">Go back to user profile</a>
</div>

Feel free to edit your information. Keep in mind however, that you may not change your username to another user's username.

<form class="form" method="post" action="" enctype="multipart/form-data">
    <div>
       {% csrf_token %}
        {{ form.as_p }}
     </div>
     <button type="submit">Save</button>
 </form>

{% endblock %}