{% extends 'layout.html' %}
{% load static %}

{% block content %}

<!-- <script>
    alert('{{ message }}');
</script> -->

<div style = "margin-left: -2%;">
    <a class="goback" href=".." style="text-decoration: none;">Go back</a>
    <a class="goback" href="/logout" style="text-decoration: none; margin-left: 150px">Log out</a>
</div>

<br><br><br>

<div>
    <h3 style="color: white; display: inline-block;"> Feel free to edit your information.</h3>
</div>

{% if message %}
{{message}}
{% endif %}

<form class="form" method="POST" action="" enctype="multipart/form-data">
    <div>
       {% csrf_token %}
        {{ form.as_p }}
     </div>
     <button type="submit">Save</button>
 </form>


<br><br>

{% endblock %}