{% extends 'layout.html' %}
{% load static %}

{% block content %}

<!-- <script>
    alert('{{ message }}');
</script> -->

<div style = "margin-left: -2%;">
    <a class="goback" href=".." style="text-decoration: none;">Go back</a>
</div>

<br><br><br>

<div>
    <h3 style="color: white; display: inline-block;"> Feel free to edit your information.</h3>
</div>


<form class="form" method="post" action="" enctype="multipart/form-data">
    <div>
       {% csrf_token %}
        {{ form.as_p }}
     </div>
     <button type="submit">Save</button>
 </form>

<br><br>


{% endblock %}