[run]
branch = true
omit = */tests/*,
       */migrations/*,
       */urls.py,
       */settings/*,
       */wsgi.py,
       manage.py,
       fabfile.py,
       */views.py,
       */tests.py,
       */__init__.py,
       */apps.py,
       */linkedNode.py,
       */settings.py,
       */admin.py,
       uitest.py,
       */movie_filters.py,
       */pages/models.py
source = .

[report]
show_missing = true
