{% extends 'layout.html' %}
{% load static %}

{% block content %}

{% load movie_filters %}

<br>

<center>
    <div>
        <h1 style="color: white; display: inline-block;">Welcome to Rotten Potatoes!</h1>
        <br>
        <br>
        <h4 style="color: white; display: inline-block;">Find super-inaccurate ratings and reviews of a few of your favorite movies!</h4>
        <br>
        <br>
    </div>

    <br>

    <div style="display: inline-block; margin-left: 2%; color:white; list-style-type:none;">
            <a style="visibility: hidden;" class="goback" href="#">See All</a>
            <h1 style="color: white; display: inline-block;" > Top Critic Movies</h1>
            <a class="mybtn" href="/movies/?critic_score=">See All</a>
        <br><br>

        <a href="movies/details/{{top_critic.link}}"><img src="{{top_critic_image}}" alt="Image Not Found" width=25% height=25%></a>

        <br><br><br>

        {% for movie in top_critic_movies %}
            <li class="homepagemovie" href="details/{{movie.link}}">
                <br>
                <a style="text-decoration: none; color: white;" href="movies/details/{{movie.link}}">{{movie.title}}</a>
                <br>
                <br>
                <a style="text-decoration: none; color: white;" href="movies/details/{{movie.link}}">{{movie.critic_score | round_movie_score}} / 10</a>
            </li>
            <br>
        {% endfor %}

        <br>

        <a style="visibility: hidden;" class="goback" href="#">See All</a>
        <h1 style="color: white; display: inline-block;"> Top User Movies</h1>
        <a class="mybtn" href="/movies/?user_score=">See All</a>
        <br><br>

        <br>

        <a href="movies/details/{{top_user.link}}"><img src="{{top_user_image}}" alt="Image Not Found" width=25% height=25%></a>

        <br><br><br>

        {% for movie in top_user_movies %}
            <li class="homepagemovie" href="details/{{movie.link}}">
                <br>
                <a style="text-decoration: none; color: white;" href="movies/details/{{movie.link}}">{{movie.title}}</a>
                <br>
                <br>
                <a style="text-decoration: none; color: white;" href="movies/details/{{movie.link}}">{{movie.user_score | round_movie_score}} / 10</a>
            </li>
            <br>
        {% endfor %}

        <br>

        </div>
    <center>
<br><br>

{% endblock %}
