{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div>
    <h4 style="color: white; display: inline-block;"> Hello there. In order to finish creating your account, you need to provide us with a little bit more information about yourself.</h4>
</div>

{% if message %}
{{message}}
{% endif %}

<form class="form" method="post" action="" enctype="multipart/form-data">
    <div>
       {% csrf_token %}
        {{ form.as_p }}
     </div>
     <button type="submit">Save</button>
 </form>

 <br><br>

{% endblock %}