{% extends 'layout.html' %}

{% block content %}
<div style="margin-left:5%;">
   <h1 style="color: white; display: inline-block;">{{movie.title}}</h1>

   <a class="mybtn" href="../../submitReview">Submit Review</a>

   <a class="goback" href="../.." style="text-decoration: none;">Go back</a>
   <br><br><br><br>

   <div style="margin-left: 15%; margin-right: 10%; display: inline-block; width: 250px; height: 375px">
      <img src="{{movie.image.url}}" alt="Image Not Found" width=100% height=100%>
   </div>
   <div style="display: inline-block;
               position: absolute;
               width: 350px;
               height: 375px;
               background-color: rgb(60, 189, 209);
               border-radius:50px;
               padding:50px;
               color:white;
               font-size: 18px">
      <h3>Movie Details</h3>
      <ul style="list-style-type:none;">
         <li>Director: {{movie.director}}</li>
         <li>Star: {{movie.star}}</li>
         <li>Score: {{movie.score}}</li>
         <li>Run Time: {{movie.runTime}} min</li>
         <li>Rating: {{movie.rating}}</li>
         <li>Release Date: {{movie.releaseDate}}</li>
         <li>Studio: {{movie.studio}}</li>
      </ul>
   </div>
</div>
<br><br><br>
<br>
<div style="margin-left: 10%; margin-right: 10%; list-style-type:none;">
   <u1>
      {% for review in reviews %}
         <div style="background-color: rgb(60, 189, 209); padding:50px; color: white; border-radius:50px; font-size: 18px;">
            <li><h4 style="display: inline-block; margin-right: 30px;">{{review.critic}}</h4>score: {{review.score}}</li>
            <br>
            <li style="margin-left: 40px;">{{review.review}}</li>
            <br>
         </div>
         <br>
      {% endfor %}
   </u1>
</div>
{% endblock %}
