{% extends 'layout.html' %}
{% load static %}

{% block content %}

<center>
    <a class="goback" href="/movies/details/{{movie.link}}" style="text-decoration: none; color: white;">Go back</a>
    <h2 style="color:white; display: inline-block">Submit {{type}} Review for {{movie}}</h2>
</center>

<br><br>

<form class="movieform" method="post" action="" enctype="multipart/form-data">
    <div>
    {% csrf_token %}
    {{ form.as_p }}
    </div>
    <button type="submit">Save</button>
</form>

<br><br>

{% endblock %}
