{% load socialaccount %}

{% providers_media_js %}

<html>
	<head>
		<style>
			.gap-22 {
				width:100%;
				height:22px;
			}
		</style>
	</head>
</html>

<!DOCTYPE html>
<html>
   <head>
      <title>Google Registration</title>
   </head>
   <body>
      {% if not user.is_authenticated %}
         <div class="gap-22">
               Bruh, you need to log in
               <br />
         </div>

         <div class="gap-22">
               <a href="{% provider_login_url "google" %}">Login with Google</a>
               <br />
         </div>
      {% endif %}

      {% for usermodel in usermodels %}

         {% if usermodel.user == user %}
            <div class="gap-22">
               Welcome, {{usermodel.user_name}}!
               <br>
            </div>

            <div class="gap-22">
               <a href="profile/{{usermodel.user_name}}">Go to your profile</a>
               <br>
            </div>
         {% endif %}

      {% endfor %}

      {% if user.is_authenticated %}

         <div class="gap-22">
            <a href="{% url 'logout' %}">Logout</a>
            <br>
         </div>

      {% endif %}
      
   </body>
</html>

